<!DOCTYPE html>
<html>

	{% include head.html %}

	<body background="background.jpg">
		<nav style="margin-left:45em;">
    		<ul>
	        	<li><a href="/about" style="color:rgba(40, 0, 150, 0.9);">About</a></li>
        		<li><a href="/blog" style="color:rgba(40, 0, 150, 0.9);">Blog</a></li>
        		<li><a href="mailto:ghostsandmachines@yahoo.com" style="color:rgba(40, 0, 150, 0.9);">@</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    		{{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ghostsandmachines@yahoo.com">email</a></li>
			</ul>
		</footer>
	</body>
</html>
