<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>
		<nav style="margin-left:45em; color:rgba(40, 0, 150, 0.9);">
    		<ul>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
        		<li><a href="mailto:ghostsandmachines@yahoo.com">@</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    		{{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ghostsandmachines@yahoo.com">email</a></li>
			</ul>
		</footer>
	</body>
</html>
